<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>ua.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Brindigrafica. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CESSQLHostname</key>
	<string>127.0.0.1</string>
	<key>CESSQLPort</key>
	<integer>3306</integer>
	<key>CESSQLUsername</key>
	<string>test</string>
	<key>CESSQLPassword</key>
	<string>test</string>
	<key>CESSQLDatabase</key>
	<string>colibri</string>
	<key>CESSQLTable</key>
	<string>ENTIDADES</string>
	<key>CESSQLTableFields</key>
	<array>
		<string>NUMERO</string>
		<string>NOME</string>
		<string>NIF</string>
		<string>NIB</string>
		<string>TELEFONE</string>
		<string>TELEFONE2</string>
		<string>TELEMOVEL</string>
		<string>EMAIL</string>
		<string>EMAIL2</string>
		<string>FAX</string>
		<string>NOMEBANCO</string>
		<string>LOCALIDADE</string>
		<string>MORADA</string>
		<string>OBS</string>
	</array>
</dict>
</plist>
